<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Olympique Game</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sticky-footer-navbar/">

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="sticky-footer-navbar.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0" style="padding-top: 10em; padding-bottom: 10em;">
    <div class="container">
      {{!-- Titre --}}
      <h1 style="color: white; font-size: 4em; text-align: center; margin-bottom: 1em;">Bienvenue sur l'OlympicBot !
      </h1>
      
      <script>
        window.watsonAssistantChatOptions = {
          integrationID: "163d0051-c728-4cdf-93e5-2f2abb65a0db", // The ID of this integration.
          region: "eu-de", // The region your integration is hosted in.
          serviceInstanceID: "dff6097d-3c23-42cb-a19d-14fb7666a340", // The ID of your service instance.
          onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
          const t = document.createElement('script');
          t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
          document.head.appendChild(t);
        });
      </script>

    </div>

  </main>

  <!-- Footer -->
  <footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright - Timothée COMTE & Michaël PIOTON-PASTOR
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


  <script src="/js/bootstrap.bundle.min.js"></script>


</body>

</html>